# Node and editor
node_modules/
.vscode/
.DS_Store
dist/
.env

# Logs
logs
*.log
npm-debug.log*

# OS files
Thumbs.db

# IDE files
.idea/
*.swp
.cache/
coverage/
build/
.env.local
.env.development
.env.production
